.header {
  font-size: x-large;
  margin: 40px 0px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid purple;
  padding: 10px;
}

.timer-div {
  margin-left: auto;
}

.code-quiz {
  position: relative;
  margin-top: 25vh;
  margin-left: 38vw;
  width: 25vw;
  height: 400px;
  text-align: center;
}

.start-btn {
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(100, 6, 232);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  margin-top: 10px;
}

.high-scores {
  position: relative;
  margin-top: 25vh;
  margin-left: 38vw;
  width: 25vw;
  height: 400px;
  text-align: left;
}

.high-scores h1 {
}

.highscores-div {
  border: none;
  background-color: plum;
  padding: 5px;
  width: 25vw;
  border-radius: 8px;
}

.go-back-btn {
  margin-right: 10px;
  border-radius: 8px;
  background-color: rgb(100, 6, 232);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  margin-top: 40px;
  padding: 5px;
}

.clear-highscores-btn {
  margin-left: 10px;
  border-radius: 8px;
  background-color: rgb(100, 6, 232);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  margin-top: 40px;
  padding: 5px;
}

.form-div {
  position: relative;
  margin-top: 25vh;
  margin-left: 40vw;
  width: 25vw;
  height: 400px;
  text-align: left;
}

.form-div h1 {
  text-align: left;
}
.form-div form {
  padding: 5px;
  font-size: 20px;
}

.submit-btn {
  background-color: rgb(100, 6, 232);
  color: white;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  margin-left: 10px;
}
