.header {
  font-size: x-large;
  margin: 40px 0px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid purple;
}

.timer-div {
  margin-left: auto;
}

.code-quiz {
  position: relative;
  margin-top: 25vh;
  margin-left: 38vw;
  width: 25vw;
  height: 400px;
  text-align: center;
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(100, 6, 232);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
}
